@font-face{
  font-family: 'NanumScript';
  src: url('/NanumPenScript-Regular.ttf');
}
html, body {
    margin: 0px;
    width: 100%;
    background-color: rgb(246,246,246);
    display:flex;
}

/*main 컨테이너 가운데 내용부분을 하얀색으로 나타내는거.*/
#root{
  background-color: white;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height:100%;
  box-shadow: rgba(100,100,100,0.2) 0px 0px 30px 0px;
  padding: 0px 20px;

}

body * {
    font-family: "NanumScript";
}